## Sample Python scripts

## Week1

In [1]:
print("Hello World")

Hello World

In [2]:
%matplotlib inline
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sys

In [3]:
os.getcwd()

'/Users/nealxun/Documents/My_Study/Coursera/2023-01-01_Python_Crush_Course'

In [4]:
sys.version

'3.9.13 (main, Aug 25 2022, 18:29:29) \n[Clang 12.0.0 ]'

In [4]:
def square(x):
    return x * x

In [5]:
x = np.random.randint(1, 10)
y = square(x)
print('%d squared is %d' % (x, y))

4 squared is 16

In [6]:
df = pd.read_csv("hotel_bookings.csv")

In [7]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

## Week 2

### 2.2 functions

In [2]:
def feature_rec(length, width):
    area = length * width
    circumference = 2 * (length + width)
    return area, circumference

In [8]:
area1, circumference1 = feature_rec(2, 3)
print(area1, circumference1)

6 10

In [12]:
a2 = feature_rec(2, 3)
print(a2)
type(a2)

(6, 10)

tuple

### 2.3 conditions

In [4]:
# modulo opeartor
print(10 % 2)
print(10.5 % 2)
print(10 % 2.5)

0
0.5
0.0

In [5]:
# exercise 1
print("big" > "small")

False

In [6]:
# exercise 2
print(11 % 5)

1

In [8]:
print(5 // 4)
print(5 / 4)

1
1.25

## Week 3

### 3.2 for loops

In [1]:
for i in range(1,5):
    print(i)

1
2
3
4

In [7]:
for i in range(1, 5, 2):
    print(i)

1
3

### exercise

In [2]:
# q8
for x in range(1, 10, 3):
    print(x)

1
4
7

In [5]:
# q9
for x in range(10):
    for y in range(x):
        z = y
print(z)

8

In [6]:
# q10
def votes(params):
    for vote in params:
        print("Possible option:" + vote)
votes(['yes', 'no', 'maybe'])

Possible option:yes
Possible option:no
Possible option:maybe

## Week 4

### 4.1 strings

In [11]:
# q1
input_string = "Never Odd or Even"
new_string = ""
reverse_string = ""
# Traverse through each letter of the input string
for i in input_string:
# Add any non-blank letters to the 
# end of one string, and to the front
# of the other string. 
    if i != " ":
        new_string = new_string + i.lower()
        reverse_string = i.lower() + reverse_string
print(new_string)
print(reverse_string)

neveroddoreven
neveroddoreven

In [10]:
# q5
"abc".endswith("c")

True

### 4.2 Lists

In [13]:
x = ["This", "is", "me"]
print(x[:2])

['This', 'is']

In [9]:
# tuples
fruit = ("banana", "apple", "grape")
print(fruit)
fruit1, fruit2, fruit3 = fruit
print(fruit1, fruit2, fruit3)

('banana', 'apple', 'grape')
banana apple grape

In [11]:
# a function to return every other elements
def skip_elements(elements):
    # code goes here
    result = []
    for i, element in enumerate(elements):
        if i % 2 == 0:
            result.append(element)
    return result

print(skip_elements(["a", "b", "c", "d", "e", "f", "g"])) # Should be ['a', 'c', 'e', 'g']
print(skip_elements(['Orange', 'Pineapple', 'Strawberry', 'Kiwi', 'Peach'])) # Should be ['Orange', 'Strawberry', 'Peach']

['a', 'c', 'e', 'g']
['Orange', 'Strawberry', 'Peach']

In [ ]:
# q1
filenames = ["program.c", "stdio.hpp", "sample.hpp", "a.out", "math.hpp", "hpp.out"]
# Generate newfilenames as a list containing the new filenames
# using as many lines of code as your chosen method requires.
newfilenames = []
for filename in filenames:
    if ".hpp" in filename:
        filename = filename[:filename.index(".hpp")] + ".h"
    newfilenames.append(filename)

print(newfilenames) 
# Should be ["program.c", "stdio.h", "sample.h", "a.out", "math.h", "hpp.out"]

In [25]:
# q2
# Question 2
# Create a function that turns text into pig latin. Pig latin is a simple text transformation that modifies each word by: 
# moving the first character to the end of each word;
# then appending the letters "ay" to the end of each word. 
def pig_latin(text):
  say = "ay"
  # Separate the text into words
  words = text.split()
  pig_latin_ls = []
  for word in words:
    # Create the pig latin word and add it to the list
    pig_latin_word = word[1:] + word[0] + say
    pig_latin_ls.append(pig_latin_word)
  # Turn the list back into a phrase
  pig_latin_text = " ".join(str(x) for x in pig_latin_ls)
  return pig_latin_text
    
print(pig_latin("hello how are you")) # Should be "ellohay owhay reaay ouyay"
print(pig_latin("programming in python is fun")) # Should be "rogrammingpay niay ythonpay siay unfay"

ellohay owhay reaay ouyay
rogrammingpay niay ythonpay siay unfay

In [23]:
# q5
def biograpy_list(people):
    # Iterate over each "person" in the given "people" list of tuples. 
    for person in people:

        # Separate the 3 items in each tuple into 3 variables:
        # "name", "age", and "profession"   
        name, age, profession = person

        # Format the required sentence and place the 3 variables 
        # in the correct placeholders using the .format() method.
        print("{} is {} years old and works as a {}".format(name, age, profession))

In [24]:
biograpy_list([('Ira', 30, 'Chef'), ('Raj', 35, 'Lawyer'), ('Maria', 25, 'Engineer')])

Ira is 30 years old and works as a Chef
Raj is 35 years old and works as a Lawyer
Maria is 25 years old and works as a Engineer

### 4.3 Dictionaries

In [8]:
# q2
# The groups_per_user function receives a dictionary, 
# which contains group names with the list of users. 
# Users can belong to multiple groups. 
# Fill in the blanks to return a dictionary with the users as keys and a list of their groups as values. 
def groups_per_user(group_dictionary):
	user_groups = {}
	# Go through group_dictionary
	for group, users in group_dictionary.items():
		# Now go through the users in the group
		for user in users:
			# Now add the group to the the list of
			# groups for this user, creating the entry
			# in the dictionary if necessary
			if not user in user_groups:
				user_groups[user] = [group]
			else:
				user_groups[user].append(group)

	return(user_groups)

print(groups_per_user({"local": ["admin", "userA"],
		"public":  ["admin", "userB"],
		"administrator": ["admin"] }))

{'admin': ['local', 'public', 'administrator'], 'userA': ['local'], 'userB': ['public']}

In [4]:
# q3
wardrobe = {'shirt': ['red', 'blue', 'white'], 'jeans': ['blue', 'black']}
new_items = {'jeans': ['white'], 'scarf': ['yellow'], 'socks': ['black', 'brown']}
wardrobe.update(new_items)
print(wardrobe)

{'shirt': ['red', 'blue', 'white'], 'jeans': ['white'], 'scarf': ['yellow'], 'socks': ['black', 'brown']}

In [6]:
not 'jeans' in wardrobe

False

In [7]:
# q5
# The add_prices function returns the total price of all of the groceries in the dictionary. 
# Fill in the blanks to complete this function.
def add_prices(basket):
    # Initialize the variable that will be used for the calculation
    total = 0
    # Iterate through the dictionary items
    for price in basket.values():
        # Add each price to the total calculation
        # Hint: how do you access the values of
        # dictionary items?
        total += price
    # Limit the return value to 2 decimal places
    return round(total, 2)  

groceries = {"bananas": 1.56, "apples": 2.50, "oranges": 0.99, "bread": 4.59, 
             "coffee": 6.99, "milk": 3.39, "eggs": 2.98, "cheese": 5.44}

print(add_prices(groceries)) # Should print 28.44

28.44

### 4.4 Exercises

In [2]:
# q9
colors = ["red", "white", "blue"]
colors.insert(2, "yellow")
print(colors)

['red', 'white', 'yellow', 'blue']

In [3]:
# q10
host_addresses = {"router": "192.168.1.1", "localhost": "127.0.0.1", "google": "8.8.8.8"}
print(host_addresses.keys())

dict_keys(['router', 'localhost', 'google'])

In [4]:
# q2
"nice" in "Have a nice day!"

True

In [10]:
# q3
Jamies_list = ["Alice", "Cindy", "Bobby", "Jan", "Peter"]
Drews_list = ["Mike", "Carol", "Greg", "Marcia"]
print(Drews_list[-1])

Marcia

In [12]:
# q4
for x in range(2, 5):
    print(x)

2
3
4

In [18]:
# q6
guest1 = { "Adam":2, "Brenda":3, "David":1, "Jose":3, "Charlotte":2, "Terry":1, "Robert":4}
print(guest1.keys())
"Adam" in guest1.keys()

dict1 = {'a': 10, 'c': 8}
dict2 = {'d': 6, 'c': 4}
dict2.update(dict1)
print(dict2)

dict_keys(['Adam', 'Brenda', 'David', 'Jose', 'Charlotte', 'Terry', 'Robert'])
{'d': 6, 'c': 8, 'a': 10}

In [23]:
# q7
text = "This is a sentence."
for letter in text.lower():
    print(letter + ' is a letter: ', letter.isalpha())

t is a letter:  True
h is a letter:  True
i is a letter:  True
s is a letter:  True
  is a letter:  False
i is a letter:  True
s is a letter:  True
  is a letter:  False
a is a letter:  True
  is a letter:  False
s is a letter:  True
e is a letter:  True
n is a letter:  True
t is a letter:  True
e is a letter:  True
n is a letter:  True
c is a letter:  True
e is a letter:  True
. is a letter:  False